<% layout("layout") -%>

<div class="jumbotron">
  <h1>What is Wolfberry?</h1>
  <p class="lead">The future of board games.</p>
</div>

<div>
  <p>Wolfbery lets you play board games together using modern technology.</p>
</div>

<div>
  <p> You can look at the source code <a href="https://github.com/khwang/wolfberry">here</p>
</div>
