<% layout("layout") -%>

<div class="jumbotron">
  <h1>What is Wolfberry?</h1>
  <p class="lead">The future of board games.</p>
</div>

<div>
  <p>Wolfbery lets you play board games together using modern technology.</p>
</div>
