<% layout("layout") -%>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/uuid.js"></script>

<link rel="stylesheet" href="/css/board.css">

<script>
  var socket = io.connect("http://localhost");
  var pathname = window.location.pathname;
  var room = pathname.split("/")[2];

  var boardId = uuid.v4();
  socket.emit("boardJoinRoom", { room: room });

  socket.on("boardGameStart", function (data) {
    console.log(data);

    setGameState(data);
    $("#gameBoard").show();
  });

  socket.on("failure", function (data) {
    console.log("Failure!");
    console.log(data);
  });

  $(document).ready(function () {
    $("#startGame").click(function () {
      socket.emit("start game", room);
    });
  });

  var setGameState = function (gameState) {
    var players = gameState.players;
    for (var i = 0; i < players.length; i++) {
      var player = players[i];
    }
  };
</script>

<div>This is the board view.
Room: <%- room %>
</div>

<button id="startGame" type="button" class="btn btn-primary">Start Game</button>

<div id="gameBoard">
  <div id="north"></div>
  <div id="east"></div>
  <div id="south"></div>
  <div id="west"></div>
</div>
