<% layout("layout") -%>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/uuid.js"></script>

<link rel="stylesheet" href="/css/board.css">

<script>
  var socket = io.connect("http://localhost");
  var pathname = window.location.pathname;
  var room = pathname.split("/")[2];

  var boardId = uuid.v4();
  socket.emit("boardJoinRoom", { room: room });

  socket.on("boardGameStart", function (data) {
    $("#gameBoard").show();
  });

  socket.on("failure", function (data) {
    console.log("Failure!");
    console.log(data);
  });

  var leftPass = {
    north: "east",
    east: "south",
    south: "west",
    west: "north"
  }
  socket.on("cardPlayed", function (data) {
    var player = data.player;
    var card = data.card;
    var position = player.position;
    var currentTrick = data.currentTrick;

    var src = "/images/cards/"+card.value+"_of_"+card.suit+".png";
    $("#"+position).html("<img src='"+src+"'></img>");

    if (currentTrick.length == 0) { // this means we cleaned up the trick we're playing
      collectCards(currentTrick);
    }

    $("#currentPlayer").text(leftPass[position]);
  });

  var collectCards = function (currentTrick) {
    var positions = ["north", "south", "east", "west"];
    for (var i = 0; i < positions.length; i++) {
      var $div = $("#"+positions[i]);
      $div.html("");
    }
  }

  socket.on("roundEnded", function (data) {
    var players = data.players
    for (var i = 0; i < players.length; i++) {
      var player = players[i];
      $("#"+player.position+"Score").text(player.score);
    }
  });

  $(document).ready(function () {
    $("#startGame").click(function () {
      socket.emit("start game", room);
    });
  });
</script>

<div>This is the board view.
Room: <%- room %>
</div>

<button id="startGame" type="button" class="btn btn-primary">Start Game</button>

<div id="gameBoard">
  <div id="north">North</div>
  <div id="east">East</div>
  <div id="south">South</div>
  <div id="west">West</div>
</div>

<div id="scoreBoard">
  North: <div id="northScore">0</div>
  East: <div id="eastScore">0</div>
  South:<div id="southScore">0</div>
  West: <div id="westScore">0</div>
</div>

<div id="currentPlayer">
</div>
