<% layout("layout") -%>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
<script>
  var socket = io.connect("http://localhost");
  socket.on("news", function (data) {
    console.log(data);
    socket.emit("my other event", { my: "data" });
  });
</script>

<div class="jumbotron">
  <h1>Put your phones to good use!</h1>
  <p class="lead">Just accept the fact that phones have become a part of social interaction and use them to bond.</p>
  <div id="openRoomBtn" class="btn btn-large btn-success">Open a room</div>
</div>

<input id="roomId" type="number" placeholder="Room # here">
<button id="joinRoom" type="submit" class="btn">Join Room</button>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <p>Foo bar, baz</p>
  </div>

  <div class="span6">
    <p>Quux and garply</p>
  </div>
</div>
