<% layout("layout") -%>
<script src="/socket.io/socket.io.js"></script>
<script src="js/mobile.js"></script>

<div class="jumbotron">
  <form type="get" id="joinRoomForm" action="joinRoom">
    <input id="roomId" name="roomId" type="number"></input>
    <button id="submitBtn" type="submit">Join a room</button>
  </form>
</div>
