<% layout("layout") -%>

<link rel="stylesheet" href="/css/player.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/uuid.js"></script>

<script>
  var socket = io.connect("http://localhost");
  var searchString = window.location.search;

  var room = searchString.split("=")[1];

  var playerId = uuid.v4();

  var playerCards = [];

  var maxSelected = 3;
  socket.emit("joinRoom", { room: room, playerId: playerId });

  $(document).ready(function () {

    $(document).on("click", ".pass", function () {
      var selected = $(".selected");
      if (selected.length == 3) {
        var cards = [];
        selected.each(function (index, el) {
          var $el = $(el);
          var suit = $el.data("suit");
          var value = $el.data("value");
          cards.push({ suit: suit, value: value });
          $el.remove();

          var indexToRemove;
          for (var i = 0; i < playerCards.length; i++) {
            var card = playerCards[i];
            if (card.value === value && card.suit === suit) {
              indexToRemove = i;
              break;
            }
          }
          playerCards.splice(indexToRemove,1);
        });

        $("#status").text("");
        $("#action").html("");
        socket.emit("passCards", { room: room, cards: cards });
        maxSelected = 1;
      }
    });

    $(document).on("click", ".play", function () {
      var $selected = $(".selected");
      if ($selected.length == 1) {
        console.log("Passing card");
        var suit = $selected.data("suit");
        var value = $selected.data("value");
        socket.emit("playCard", { room: room, card: { suit: suit, value: value } });
      }
    });

    $(document).on("click", ".card", function () {
      if ($(this).hasClass("selected")) {
        $(this).removeClass("selected");
      }
      else {
        var numSelected = $(".selected").length;
        if (numSelected < maxSelected) {
          $(this).addClass("selected");
        }
      }
    });
  });

  socket.on("gameStart", function (player) {
    $("#position").append("<b>"+player.position+"</b>");
    displayHand(player.hand);
    $("#status").text("Choose three cards to pass to the left");
    $("#action").append("<button class='btn pass'>Pass</button>");
  });


  socket.on("failure", function (data) {
    console.log("Failed!");
    console.log(data);
  });

  socket.on("receiveCards", function (data) {
    console.log("Receive cards");
    console.log(data);
    playerCards = playerCards.concat(data);
    displayHand(playerCards);
  });

  socket.on("yourTurn", function (data) {
    console.log("It's your turn!");
    $("#action").html("<button class='btn play'>Play</button>");
    $("#status").text("Play a card");
  });

  socket.on("legalPlay", function (legal) {
    if (legal) {
      var $selected = $(".selected");
      var indexToRemove;
      for (var i = 0; i < playerCards.length; i++) {
        var card = playerCards[i];
        if (card.value === $selected.value && card.suit === $selected.suit) {
          indexToRemove = i;
          break;
        }
      }
      playerCards.splice(indexToRemove,1);
      displayHand(playerCards);

      $("#status").text("");
      $("#action").html("");
    }
    else {
      console.log("You can't do this");
    }
  });

  var displayHand = function (cards) {
    sortCards(cards);
    playerCards = cards;
    $("#hand").html("");
    for (var i = 0; i < cards.length; i++) {
      var card = cards[i];
      var suit = card.suit;
      var value = card.value;

      var cardImageUrl = "/images/cards/" + value + "_of_" + suit + ".png";

      $("#hand").append("<img class='card' data-suit='"+suit+"' data-value='"+value+"' width='69px' height='100px' src='"+cardImageUrl+"'></img>");
    }
  };

  // destructive
  var sortCards = function (cards) {
    return cards.sort(function (card1, card2) {
      var suitRankings = ["clubs", "diamonds", "spades", "hearts"];
      var card1SuitRank = suitRankings.indexOf(card1.suit);
      var card2SuitRank = suitRankings.indexOf(card2.suit);

      if (card1SuitRank < card2SuitRank) {
        return -1;
      }
      else if (card2SuitRank < card1SuitRank) {
        return 1;
      }
      else { // otherwise they have the same suit
        if (card1.value > card2.value) {
          return 1;
        } 
        else { // it is impossible for two cards to be equal
          return -1;
        }
      }
    });
  };
</script>

<div>
  <p>This is the player view.
</div>

<div id="position"></div>
<div id="hand"></div>
<div id="status"></div>
<div id="action"></div>
