<% layout("layout") -%>

<link rel="stylesheet" href="/css/player.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/uuid.js"></script>

<script>
  var socket = io.connect("http://localhost");
  var searchString = window.location.search;

  var room = searchString.split("=")[1];

  var playerId = uuid.v4();
  socket.emit("joinRoom", { room: room, playerId: playerId });

  socket.on("gameStart", function (player) {
    $("#position").append("<b>"+player.position+"</b>");
    displayHand(player.hand);
    $("#status").text("Choose three cards to pass to the left");
    $("#action").append("<button class='btn'>Pass</button>");
    $(".card").click(function () {
      $(this).toggleClass("selected");
    });
  });

  socket.on("failure", function (data) {
    console.log("Failed!");
    console.log(data);
  });

  var displayHand = function (cards) {
    sortCards(cards);
    for (var i = 0; i < cards.length; i++) {
      var card = cards[i];
      var suit = card.suit;
      var value = card.value;

      var cardImageUrl = "/images/cards/" + value + "_of_" + suit + ".png";

      $("#hand").append("<img class='card' width='69px' height='100px' src='"+cardImageUrl+"'></img>");
    }
  };

  // destructive
  var sortCards = function (cards) {
    return cards.sort(function (card1, card2) {
      var suitRankings = ["clubs", "diamonds", "spades", "hearts"];
      var card1SuitRank = suitRankings.indexOf(card1.suit);
      var card2SuitRank = suitRankings.indexOf(card2.suit);

      if (card1SuitRank < card2SuitRank) {
        return -1;
      }
      else if (card2SuitRank < card1SuitRank) {
        return 1;
      }
      else { // otherwise they have the same suit
        if (card1.value > card2.value) {
          return 1;
        } 
        else { // it is impossible for two cards to be equal
          return -1;
        }
      }
    });
  };
</script>

<div>
  <p>This is the player view.
</div>

<div id="position"></div>
<div id="hand"></div>
<div id="status"></div>
<div id="action"></div>
