<% layout("layout") -%>

<script src="/socket.io/socket.io.js"></script>
<script src="js/uuid.js"></script>

<script>
  var socket = io.connect("http://localhost");
  var searchString = window.location.search;

  var room = searchString.split("=")[1];

  var playerId = uuid.v4();
  socket.emit("joinRoom", { room: room, playerId: playerId });

  socket.on("gameStart", function (data) {
    displayHand(data);
    console.log("Game starting: player");
  });

  var displayHand = function () {
  };
</script>

<div>
  <p>This is the player view.
</div>
