<% layout("layout") -%>

<link rel="stylesheet" href="/css/player.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/uuid.js"></script>

<script>
  var socket = io.connect("http://localhost");
  var searchString = window.location.search;

  var room = searchString.split("=")[1];

  var playerId = uuid.v4();
  socket.emit("joinRoom", { room: room, playerId: playerId });

  socket.on("gameStart", function (data) {
    displayHand(data);
  });

  socket.on("failure", function (data) {
    console.log("Failed!");
    console.log(data);
  });

  var displayHand = function (cards) {
    console.log(cards);
    for (var i = 0; i < cards.length; i++) {
      var card = cards[i];
      var suit = card.suit;
      var value = card.value;

      var cardImageUrl = "/images/cards/" + value + "_of_" + suit + ".png";

      $("#hand").append("<img width='69px' height='100px' src='"+cardImageUrl+"'></img>");
    }
  };
</script>

<div>
  <p>This is the player view.
</div>

<div id="hand">
</div>
